<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Platform第三方授权</title>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}"/>
</head>

<body>
<nav class="navbar navbar-default container-fluid">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">开放平台</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <p class="navbar-text navbar-right">
                <a target="_blank" href="https://dlihaifeng.com">技术支持</a>
            </p>
            <p class="navbar-text navbar-right">
                <a target="_blank" href="https://dlihaifeng.com">${user.username}</a>
            </p>
        </div>
    </div>
</nav>
<div style="padding-top: 80px;width: 300px; color: #555; margin:0px auto;">
    <form id='confirmationForm' name='confirmationForm' th:action="@{/oauth/authorize}" method='post'>
        <input name='user_oauth_approval' value='true' type='hidden'/>
        <p>
            <a th:href="${app.website}" target="_blank"><span th:text="${app.appName}"/></a> 将获得以下权限：</p>
        <ul class="list-group">
            <li class="list-group-item"> <span>
              <div th:each="scope : ${scopeList}">
                  <input type="hidden" th:name="${scope}" value="true"/>
                  <input type="checkbox" disabled checked="checked"/><label th:text="${scope}"></label>
              </div>
        </ul>
        <p class="help-block">授权后表明你已同意 <a>服务协议</a></p>
        <button class="btn btn-success pull-right" type="submit" id="write-email-btn">授权</button>
        </p>
    </form>
</div>
<footer>
    <p>support by: lihaifeng,xuhang</p>
    <p>email: <a href="mailto:li7hai26@gmail.com">li7hai26@gmail.com</a>.</p>
</footer>
</body>
</html>
