<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>微服务平台</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container-scroller">
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>                 
              </span>
              欢迎来到微服务平台,<h3>当前登录用户：<span th:text="${username}"></span> | <a th:href="@{/logout}">退出</a></h3>
            </h3>
          </div>
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5"><a href="http://localhost:8071/sso" style="color: white">SSO客户端1</a></h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5"><a href="http://localhost:8072/sso" style="color: white">SSO客户端2</a></h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">XXX管理</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                    <h2 class="mb-5">用户管理</h2>
                  </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">订单管理</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">营销管理</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">运营管理</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">商户管理</h2> 
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                  <img th:src="@{/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5">财务管理</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
