<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<h3>当前登录用户：<span th:text="${#authentication.name}"></span> | <a th:href="@{/logout}">退出</a></h3>
<h2>这是SSO CLIENT2会员管理列表页面</h2>
<table class="table">
    <tr>
        <th>名称</th>
        <th>职业</th>
        <th>简介</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    <tr>
        <td style="font-size: 20px;">蓝忘机</td>
        <td>驱邪师</td>
        <td>蓝二公子</td>
        <td>2019-03-01</td>
        <td><a th:href="@{/member/info}">详情</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">魏无羡</td>
        <td>魔道祖师</td>
        <td>云梦江氏大弟子</td>
        <td>2019-03-02</td>
        <td><a th:href="@{/member/info}">详情</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">苏沐橙</td>
        <td>枪炮师</td>
        <td>一流女玩家</td>
        <td>2019-03-03</td>
        <td><a th:href="@{/member/info}">详情</a> </td>
    </tr>
</table>
</body>
</html>